<launch>
  <node pkg="leptrino_force_torque" type="leptrino_force_torque" name="leptrino_force_torque1" output="screen" respawn="true">
  	<param name="com_port" value="/dev/ttyACMleptrino1" />
  	<param name="rate" value="50" />
  </node>

  <node pkg="leptrino_force_torque" type="leptrino_force_torque" name="leptrino_force_torque2" output="screen" respawn="true">
  	<param name="com_port" value="/dev/ttyACMleptrino2" />
  	<param name="rate" value="50" />
  </node>

  <node pkg="leptrino_force_torque" type="leptrino_force_torque" name="leptrino_force_torque3" output="screen" respawn="true">
  	<param name="com_port" value="/dev/ttyACMleptrino3" />
  	<param name="rate" value="50" />
  </node>

  <node pkg="leptrino_force_torque" type="leptrino_force_torque" name="leptrino_force_torque4" output="screen" respawn="true">
  	<param name="com_port" value="/dev/ttyACMleptrino4" />
  	<param name="rate" value="50" />
  </node>

</launch>  
 
